# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Ambiente virtual
venv/
env/
.venv/
.env/

# Banco de dados SQLite local
*.db
*.sqlite3

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
